<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class="card" >
                <!-- <br> -->
                <div class="col-md-12">
                    <h3 class="card-title">Inspection Category</h3>
                    <button type="button" class="btn btn-primary" style="float: right; margin-right: 18px;" 
                    [routerLink]="['/admin/inspectionmasteredit']"
                        [queryParams]="{ isEdit: 0, isView: 0 }" [skipLocationChange]="true">
                        Add Inspection Category
                    </button>
                </div>
                <div class="card-body">                 
                    <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions"
                        [dtTrigger]="dtTrigger" id="dt1">
                        <thead>
                            <tr style="background-color: #484D56; color: white;">
                                <th>Category</th>
                                <th>Required</th>
                                <th>Action</th>                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let inspectionType of inspectiontypemaster;let i = index" (click)="viewInspectionType(inspectionType.id)"
                                class="pointerCursor" [attr.id]="'row-' + i">
                                <td>{{inspectionType.typeName}}</td>
                                <td>{{inspectionType.requiredHours}}</td>
                                <td (click)="$event.preventDefault(); $event.stopPropagation();">
                                    <div>
                                        <button [routerLink]="['/admin/inspectionmasteredit']" (click)="InspectionCategoryEditRow(i)"  class="btn btn-warning btn-sm"
                                            [queryParams]="{ inspectionTypeId: inspectionType.id, isEdit: 1, isView: 0 }">
                                            <span><i class="bi bi-pencil"></i>
                                            </span></button>
                                        &nbsp;
                                        <button type="button" class="btn btn-danger btn-sm"
                                            (click)="deleteInspectionType(inspectionType.id,inspectionType.typeName)">
                                            <span><i class="bi bi-trash"></i>
                                            </span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
  
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>