<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card" >
                <!-- <br> -->
                <div class="col-md-12">
                    <h3 class=" card-title">Corrective Action</h3>
                </div>
                <div *ngIf="!view">
                    <form #formData="ngForm" (ngSubmit)="onSubmit(formData)">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="hidden" id="id" [(ngModel)]="training.id" name="id" #id="ngModel">
                                    <label>Corrective Action</label>
                                    <input type="text" class="form-control" id="remedialTrainingType" required
                                        [(ngModel)]="training.remedialTrainingType" name="remedialTrainingType" #remedialTrainingType="ngModel">
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 5px;">
                            <button type="submit" class="btn btn-success"
                                [disabled]="!formData.form.valid">Save</button>
                            <button type="button" (click)="hideaddform()" style="margin-left: 2px;"
                                class=" btn btn-fill btn-danger">Close</button>
                        </div>
                    </form>

                </div>

                <div *ngIf="view">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="id" [(ngModel)]="training.id" name="id" #id="ngModel">
                                <strong>RemedialTraining: </strong>
                                <label>{{training.remedialTrainingType}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 5px;">
                        <button type="button" (click)="hideaddform()" class=" btn btn-fill btn-danger">Close</button>
                    </div>


                </div>

            </div>
        </div>

    </div>
</div>