.owl-dateTime-dialog { width: auto !important; }

.is-added
{
  background-color: cadetblue;
}
.actionBtn {
  font-size: 4em;
  cursor: pointer;
}

ul.links {
  padding-bottom: 20px;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

.collapsible {
background-color: #777;
color: white;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
}

.active, .collapsible:hover {
background-color: #555;
}

form label{
font-weight:bold;
color: #525f7f;
font-family: "Poppins", sans-serif;
font-size: 0.875rem;
}

#upload_button {
    display: inline-block;
  }
  
  #upload_button input[type=file] {
    display:none;
  }
  
  .filedisplay div{
    float:left;
    overflow:auto;
    margin:15px;
    background-color: whitesmoke;
    padding: 5px;
    border: 1px silver solid;
    border-radius: 5px;
  }
  .filedisplay span{
    padding-left:5px;
    padding-right:5px
  }
  
  .filedisplay a img{
    width: 40px;
    height: 40px;
  }  
  
  .imagescale{
    height: 100px;
    width: 100px;
  }
  
  .required{
    color: red;
  }

  ngx-file-drag-drop {
    height: 120px;
  }


  // Chrome, Safari, Edge, Opera /
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Firefox /
input[type="number"] {
  -moz-appearance: textfield;
}

.disabledRow{
  background-color: lightcoral;
}
table { 
  width: 100% !important; 
  border-collapse: collapse !important; 
}
@media all and (max-width:768px) {
  .eventTable tr {    display: table;  width:100%;    }               
  .eventTable td {    display: table-row; }           
}


.containerd {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  margin-top: 50px !important;
}

::ng-deep.bs-datepicker {
  height: 350px !important;
}

.custom-content {
  position: absolute;
  z-index: 1081;
  top: 390px;
  cursor: pointer;
  align-self: center;
}



.custom-size .btn-sm {
  padding: 4px 8px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 3px;
}

.mydatepicker{
  padding: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px, -42px);
}


.input-group .form-control:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child){
  border-radius: 0 !important;
  // border-top-left-radius: 0 !important;
  // border-bottom-left-radius: 0 !important;
  // border-left: 0 none;
}

// .sort:hover {
//   background-color:#f3f3f3;
// }

.sort.asc > i.tim-icons::after {
  content: " icon-simple-add";
}
.sort.desc > i.tim-icons::after {
  content: " icon-simple-add";
}

.hyperlink
{
  cursor: pointer;
}

.fontFormat{
  text-align: justify;
  //text-justify: inter-word;
  font-size: 14px; 
  //color: #e9ecef;
  color:white;
  background-color: #003594;
  padding: 4px 4px 4px 10px;
  font-weight: 500;
  }

  ::ng-deep {
    .is-invalid {
      .dropdown-btn {
        border: 1px solid red !important;
      }
    }
    .multiselect-dropdown {
      .dropdown-btn {
        .selected-item {
          &:hover {
            box-shadow: 1px 1px 2px 0px #5a5a5a !important;
          }
        }
      }
    }
  }
  
  .displayselect{
    display: block;
  }
  .list-group-item{
    padding: 5px;
    }
    .card-body{
      padding: 5px;
    
    }
    .list-group-item {
      border: 1px solid black;
    }
  
    