<div class=" content">
      <div class=" row">
          <div class=" col-md-12">
              <div class=" card" >
                  <!-- <br> -->
                  <div class="col-md-12">
                      <h3 class=" card-title">Badge Report Settings</h3>
                  </div>
                  <!-- <div *ngIf="!view"> -->
                    <div>
                      <form #formData="ngForm" (ngSubmit)="onSubmit(formData)">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <input type="hidden" id="id" [(ngModel)]="badgereportemailsettings.id" name="id" #id="ngModel">
                                      <label>Email</label>
                                      <input type="text" class="form-control" id="email" required
                                       pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,9})+$"   [(ngModel)]="badgereportemailsettings.email" name="email"
                                          #email="ngModel">                                       
                                  </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                   
                                    <label>Type</label>
                                    <!-- <select id="type" #type="ngModel" class="form-control" 
                                    [(ngModel)]="badgereportemailsettings.type" name="type" required>                                        
                                              <option disabled selected value="0">Select Type</option>                               
                                              <option>BCC</option>
                                              <option>CC</option>
                                            
                                      </select>    -->
                                      <ng-select
                                      appendTo="body"
                                      id="type"
                                      #select
                                      [items]="emailType"
                                      bindLabel="value"
                                      placeholder="Select Type"
                                      bindValue="value"
                                      [(ngModel)]="badgereportemailsettings.type"
                                      appearance="outline"
                                      name="type"                                      
                                      required
                                      
                                    >
                                    </ng-select>                                              
                                </div>
                            </div>
                          </div>
                          <div class="form-group" style="margin-top: 5px;">
                              <button type="submit" class="btn btn-success" [disabled]="!formData.form.valid">Save</button>
                              <button type="button" (click)="hideaddform()" style="margin-left:2px;"
                              class=" btn btn-fill btn-danger">Close</button>
                          </div>
                      </form>
  
                  </div>
  
                  <!-- <div *ngIf="view">
  
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <input type="hidden" id="id" [(ngModel)]="eventtype.id" name="id" #id="ngModel">
                                  <strong>Event Type: </strong>
                                  <label>{{eventtype.type}}</label>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <button type="button" (click)="hideaddform()"
                          class=" btn btn-fill btn-danger">Close</button>
                      </div>
  
  
                  </div> -->
  
              </div>
          </div>
  
      </div>
  </div>