.table-responsive {
    margin: 10px;
  }
  .sjs-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #0b0000;
  }
  .sjs-table thead th {
    font-weight: bold;
    padding: 10px;
    border-right: 1px solid #0d0404;
    border-bottom: 1px solid #0d0404;
  }
  
  .sjs-table tbody td {
    padding: 10px;
    border-right: 1px solid #0d0404;
    border-bottom: 1px solid #0d0404;
  }
  .btn-success{
    float: right;
  }
  .btn-primary{
    float: left;
  }
  input[type="number"] {
    -moz-appearance: textfield;
 }
 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
.door-cell{
    text-align:center;
    vertical-align:top;
    padding:6px;
}

.door-name{
           /* same space for every door */
    overflow:hidden;
    word-break:break-word;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:6px;
}

.action-btn{
    width:50px;           /* every button same width */
    border-radius:18px;
}