<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card" >
                <!-- <br> -->
                <div class="col-md-12">
                    <h3 class="card-title">Facilities</h3>
                    <button [routerLink]="['/admin/facilityedit']" class="btn btn-primary" 
                    style="float: right; margin-right: 18px;"
                        [queryParams]="{ isEdit: 0, isView: 0 }"> Add Facility</button>
                </div>
  
                <div>
                    <div class="card-body">  
                        <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions"
                            [dtTrigger]="dtTrigger" id="dt1">
                            <thead>
                                <tr style="background-color: #484D56; color: white;">
                                    <th>Facility</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let facility of facilities" class="pointerCursor"
                                    (click)="viewFacility(facility.id)">
                                    <td>{{facility.facilityName}}</td>
                                    <td (click)="$event.preventDefault(); $event.stopPropagation();">
                                        <div>
                                            <button [routerLink]="['/admin/facilityedit']" class="btn btn-warning btn-sm"
                                                [queryParams]="{ facilityId: facility.id, isEdit: 1, isView: 0 }">
                                                <span><i class="bi bi-pencil"></i>
                                                </span></button>
                                            &nbsp;
  
                                            <button type="button" class="btn btn-danger btn-sm"
                                                (click)="deleteFacility(facility.id)">
                                                <span><i class="bi bi-trash"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
  
    </div>
  </div>