<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card" >
                <!-- <br> -->
                <div class="col-md-12">
                    <h3 class="card-title">Event Types</h3>
                    <button [routerLink]="['/admin/eventtypeedit']" class="btn btn-primary" 
                    style="float: right; margin-right: 18px;"
                            [queryParams]="{ isEdit: 0, isView: 0 }"> Add Event Type</button>
                </div>

                <div>
                    <div class="card-body">
                        

                        <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions"
                            [dtTrigger]="dtTrigger" id="dt1">
                            <thead>
                                <tr style="background-color: #484D56; color: white;">
                                    <th>Event Type</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let eventType of eventTypes" class="pointerCursor"
                                    (click)="viewEventType(eventType.id)">
                                    <td>{{eventType.type}}</td>
                                    <td (click)="$event.preventDefault(); $event.stopPropagation();">
                                        <div>
                                            <button [routerLink]="['/admin/eventtypeedit']" class="btn btn-warning btn-sm"
                                                [queryParams]="{ id: eventType.id, isEdit: 1, isView: 0 }">
                                                <span><i class="bi bi-pencil"></i>
                                                </span></button>
                                            &nbsp;

                                            <button type="button" class="btn btn-danger btn-sm"
                                                (click)="deleteEventTypes(eventType.id)">
                                                <span><i class="bi bi-trash"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>