<form #formData="ngForm" (ngSubmit)="onSave(formData)">
  <input type="hidden" name="id" [(ngModel)]="formDataModel.id" />
  <div class="col-md-12">
    <h3 class="card-title">Concessions Security Settings</h3>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-5">
      <div class="form-group">
        <label>Quantity per Item</label>
        <input
          type="number"
          class="form-control"
          name="quantityPerItem"
          [(ngModel)]="formDataModel.itemQuantity"
          required
        />
      </div>
    </div>

    <div class="col-sm-12 col-md-5">
      <div class="form-group">
        <label>Quantity per Company</label>
        <input
          type="number"
          class="form-control"
          name="quantityPerCompany"
          [(ngModel)]="formDataModel.itemForCompany"
          required
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-5">
      <div class="form-group">
        <label>No of Audits per Day per Company</label>
        <input
          type="number"
          class="form-control"
          name="noOfAuditsPerDay"
          [(ngModel)]="formDataModel.auditCount"  (ngModelChange)="getChangeConcessionVariable($event)"
          required
        />
      </div>
    </div>

      <div class="col-sm-12 col-md-5">
      <div class="form-group">
        <label>Email Address</label>        
        <input
                  class="form-control"
                  placeholder="email"
                  type="email"
                  [(ngModel)]="formDataModel.emailId"
                  name="email"
                  required
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,9})+$"
                  
                  autocomplete="new-email"
                />
      </div>
    </div>
  </div>
  <div style="margin-top: 20px;"></div>
  <div class="row">
    <div class="col-md-3" *ngFor="let audit of auditTimes; let i = index">
      <div class="form-group">
        <label>
          {{audit.auditNo}}{{getOrdinal(audit.auditNo)}} Audit overdue time
        </label>

        <input
          type="time"
          class="form-control"
          [(ngModel)]="audit.overdueTime"
          [name]="'auditTime' + audit.auditNo">
        <div class="form-check mt-2">
          <input
            type="checkbox"
            class="form-check-input"
            [(ngModel)]="audit.isNextDay"
            [name]="'isNextDay' + audit.auditNo"
            [id]="'isNextDay' + audit.auditNo"
          />

          <label class="form-check-label" [for]="'isNextDay' + audit.auditNo">
            Next Day
          </label>
        </div>
      </div>
    </div>
  </div>
    
  <div class="row" style="justify-content: center;">
    <div class="col-sm-12 col-md-2">
      <div class="form-group" style="margin-top: 25px;">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!formData.form.valid"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</form>
