<div class="content">
  <div class=" row">
      <div class=" col-md-12">
          <div class=" card" style="margin-top: 25px;">
              <!-- <br> -->
              <div class="col-md-12">
                  <h3 class="card-title">Security Clearance Status Report</h3>
              </div>
              <div class="col-md-12">
                <!-- <p class="fontSetting"><b>CLEARANCE DATE:</b> The applicant must complete the badging process within 30 days of receiving a clearance date. Failure to complete the badging process within 30 days, to include security training & issuance, will require the applicant to be fingerprinted again before a badge can be issued. Should the 30-days period expire, an additional charge may be applicable for processing as additional security check.</p> -->
                <label class="fontSetting">{{ this.clearanceDateText }}</label>
            </div>
              <div class="col-md-12" *ngIf="displayTable">
                  <div class="form-group" *ngIf="headerArray.length > 0">
                      <br>
                      <button class="btn btn-primary pull-right" (click)="ExportTableDataToExcel()">
                          Excel
                      </button>
                      <button class="btn btn-primary pull-right" style="margin-left: 5px;" (click)="ExportTableDataToPDF()">
                          PDF
                      </button>
                  </div>
              </div>
              <div>
                  <div class="card-header">                       

                      <table id="dt1" class="table table-striped" datatable [dtOptions]="dtOptions"
                      [dtTrigger]="dtTrigger">
                          <thead>
                            <!-- <tr  style="background-color: #003594"  *ngIf="!displayTable"><td colspan="5"></td></tr> -->
                              <tr style="background-color: #484D56; color: white;">
                                  <!-- <th>Id</th> -->
                                  <!-- <th>COMPANY NAME (Organization Code)</th>
                                  <th>APPLICANT LAST NAME</th>
                                  <th>APPLICANT FIRST NAME</th>
                                  <th>FINGERPRINT DATE</th>
                                  <th>CLEARANCE DATE</th> -->
                                  <th *ngFor="let header of headerArray[0]">{{header}}</th>
                              </tr>
                          </thead>
                          <tbody>
                              <!-- <tr *ngFor="let pba of pendingBadgeApplicants"
                                   class="pointerCursor">
                                  <td >{{ pba.companyName }}</td>
                                  <td>{{ pba.lastName }}</td> 
                                  <td>{{ pba.firstName }}</td>    
                                  <td>{{ pba.activeDate }}</td> 
                                  <td>{{ pba.clearanceDate }}</td>                             
                              </tr> -->
                              <!-- <tr class="text-center" *ngIf="!displayTable">
                                <td colspan="5">No Records Found</td>
                              </tr> -->
                              <tr *ngFor="let pba of dataforPDF"
                                   class="pointerCursor">
                                  <td *ngFor="let data of pba">{{ data }}</td>                                                              
                              </tr>

                          </tbody>
                      </table>
                  </div>
              </div>  
              
          </div>
      </div>

  </div>
</div>