.fontSetting{
    text-align: justify;
    //text-justify: inter-word;
    font-size: 14; 
    //color: #e9ecef;
    color: white;
    background-color: #003594;
    padding: 4px 4px 4px 10px;
    font-weight: 400;
    }
    