<div class="content">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img class="user-avatar" src="assets/logos/Client2/PSP_white_h.png" width="150px" />
      <h1>SEMS System Password Reset</h1>
      <!--       <form role="form" name="form" (ngSubmit)="onSubbmit()" #f="ngForm" novalidate> -->
      <div class="form-content">
        <div class="form-group">
          <input type="password" class="form-control input-underline input-lg" placeholder="Password" name="password"
            [(ngModel)]="model.password" #password="ngModel" required />
          <div *ngIf="!password.valid" class="help-block">
          </div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control input-underline input-lg" placeholder="Confirm Password"
            name="confirmpassword" [(ngModel)]="model.confirmpassword" #confirmpassword="ngModel" required />
          <div *ngIf="!confirmpassword.valid || !(model.confirmpassword == model.password)" class="help-block"><small>
              Passwords must match</small>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-success rounded-btn" (click)="onSubbmit()">Reset Password</button>
      &nbsp;
      <!-- </form> 
      <button type="button" class="btn btn-primary rounded-btn" (click)="onSubbmitLogin()">Login</button> -->
    </div>
  </div>
</div>