.Closed {
  // color:white;
  background-color: #cacaca;
}
.PendingCompletion {
  background-color: #ffa726;
}
.InProcess {
  background-color: #93ed89;
}
.Submitted {
  background-color: yellow;
}
.openColor {
  background-color: white;
}
.returnedToIssuerColor {
  background-color: #faebd7;
}
.returnedToASColor {
  background-color: #ff8c69;
}

.mythColor {
  color: black;
  background-color: #003594;
}
.row {
  padding: 0 10px 0 10px;
}

.header-3
{
  font-size: 1.4rem;
  color: #003594 !important;
}

.buttonDisabled
 {
 cursor:text !important; text-decoration: none !important; 
 background: transparent;
 color: red;
 
 } 

 
.buttonDisabled:hover
{
cursor:text !important; text-decoration: none !important; 
background: transparent;
color: red;

} 

.table.dataTable thead td, table.dataTable thead th{
  border: 1px solid lightgray !important;
}

.backdrop{
  background-color: #d3191986;
}

table.dataTable td {
  border-bottom: 1px solid lightgray;
}
// table.dataTable {
//    border-collapse: separate;
//    empty-cells: hide;
// }
.redbg{
  background-color: #f21a1a69;
}
.list-group-item{
  padding: 5px;
  }
  .card-body{
    padding: 5px;
  
  }
  .list-group-item {
    border: 1px solid black;
  }

  /* If using component styles: add ::ng-deep */
::ng-deep .modal-dialog.auto-width-modal {
  display: inline-block;
  width: auto;
  max-width: 95%; /* Optional: constrain on large content */
  margin: 1.75rem auto;
}


.chat-container {
  // max-width: 600px;
  padding: 5px;
  margin: auto;
  border: 1px solid #ccc;
  height: 80vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.chat-box {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background: #f9f9f9;
}

.message {
  display: flex;
  margin-bottom: 10px;
}

.message.user {
  justify-content: flex-end;
}

.message.bot {
  justify-content: flex-start;
}

.bubble {
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 75%;
}

.message.user .bubble {
  background-color: #007bff;
  color: white;
  border-bottom-right-radius: 0;
}

.message.bot .bubble {
  background-color: #e5e5ea;
  color: black;
  border-bottom-left-radius: 0;
}

.chat-input {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 10px;
}

.chat-input input {
  flex: 1;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-right: 10px;
}
.back-button {
  margin: 10px;
  border-radius: 20px;
  padding: 6px 15px;
  font-weight: bold;
}