<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card" >
                <!-- <br> -->
                <div class="col-md-12">
                    <h3 class="card-title">Incendiaries</h3>
                    <button [routerLink]="['/admin/incendiariedEdit']"
                    class="btn btn-primary" style="float: right; margin-right: 18px;"
                            > Add Incendiary</button>
                </div>

                <div>
                    <div class="card-body">                 
                        <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions"
                        [dtTrigger]="dtTrigger" id="dt1"
                            >
                            <thead>
                                <tr style="background-color: #484D56; color: white;">
                                    <th>Incendiary</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of incendiaries" class="pointerCursor"
                                    (click)="viewIncendiaries(item.id)">
                                    <td>{{item.incendiarieName}}</td>
                                    <td (click)="$event.preventDefault(); $event.stopPropagation();">
                                        <div>
                                            <button [routerLink]="['/admin/incendiariedEdit']" class="btn btn-warning btn-sm"
                                                [queryParams]="{ incendId: item.id, isEdit: 1, isView: 0 }">
                                                <span><i class="bi bi-pencil"></i>
                                                </span></button>
                                            &nbsp;

                                            <button type="button" class="btn btn-danger btn-sm"
                                                (click)="DeleteIncendiariesById(item.id)">
                                                <span><i class="bi bi-trash"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>