.filedisplay div{
    float:left;
    overflow:auto;
    margin:15px;
    background-color: whitesmoke;
    padding: 5px;
    border: 1px silver solid;
    border-radius: 5px;
  }
//   .filedisplay span{
//     padding-left:5px;
//     padding-right:5px
//   }
  
  .filedisplay a img{
    width: 40px;
    height: 40px;
  }