// tbody div{
//     overflow:scroll;
//     height:500px;    
// }

// tbody div .table th, td{
//     padding:0;
// }

.table-responsive {
    max-height:500px;
}

.changeText {
    background-color:#F7F991 !important;   
}
.openColor {
    background-color:white !important;   
}
.newchange {
    background-color:#F7F991 !important; 
}
.select{
    height:100px;
    overflow:scroll;
}