::ng-deep .ng-dropdown-panel {
    z-index: 9999999!important;
  }
  
  .cdk-overlay-container {
    z-index: 1050 !important;
  }
  ::ng-deep .cdk-overlay-container {
    z-index: 1050 !important;
   }
   
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20px;
  height: 28px;
  width: 55px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20px;

}

input:checked + .slider {
  background-color: #00AD0D;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00AD0D;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.list-group-item{
  padding: 5px;
  }
  .card-body{
    padding: 5px;
  
  }
  .list-group-item {
    border: 1px solid black;
  }